<div>
  <label>First Name</label>
  <input type="text" [(ngModel)]="FirstName"/>
  <label>Last Name</label>
  <input type="text" [(ngModel)]="LastName"/>
  <label>Create UserName</label>
  <input type="text" [(ngModel)]="Username"/>
  <label>Create Password</label>
  <input type="text" [(ngModel)]="Password"/>
  <label>Verify Password</label>
  <input type="text" [(ngModel)]="VerifyPassword"/>
  <label>Email</label>
  <input type="text" [(ngModel)]="Email"/>
  <button (click)="onCreateUser()">Create User</button>
</div>
